body {
    min-width: 300px;
    min-height: 350px;
    margin: 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

.select2-container .select2-results .select2-results__options {
    max-height: 100px;
}

.select2-container {
    font-size: 0.8em;
}

#selectedTechnologiesClean {
    margin-top: 1em;
}
